<div [ngClass]="{
      'form-basic-schema': classForm === 'small',
      'form-basic-schema-data': classForm === 'big'
    }"
  >
    <ng-content></ng-content>
</div>
<div *ngIf="dataForm && isEmptyData(dataForm)" class="console">
  <div class="title_terminal">
    VALORES DEL FORMULARIO
  </div>
  <div>
    <pre style="color: #ffffff;">{{dataForm | json}}</pre>
  </div>
</div>
<div *ngIf="errors && errors.length > 0" class="console-errors">
  <div class="title_terminal">
    Errores en el Formulario
  </div>
  <div *ngFor="let error of errors">
    <div> <strong>message:</strong> {{error.message}}</div>
    <div><strong>keyword:</strong>{{error.keyword}}</div>
    <div><strong>dataPath:</strong>{{error.dataPath}}</div>
    <div><strong>schemaPath:</strong>{{error.schemaPath}}</div>
    <div class="errors">
      <strong>params</strong>
      <pre>{{error.params|json}}</pre>
    </div>
  </div>
</div>
