<div [ngClass]="{
      'form-basic-schema': classForm === 'small',
      'form-basic-schema-data': classForm === 'big'
    }"
  >
    <ng-content></ng-content>
</div>
<div *ngIf="initValues" class="console">
  <div class="title_terminal">
    VALORES DEL FORMULARIO
  </div>
  <div>
    <pre>{{initValues | json}}</pre>
  </div>
</div>
<div *ngIf="errors" class="console-errors">
  <div class="title_terminal">
    Errores en el Formulario
  </div>
  <div *ngFor="let error of errors">
    <div>{{error.message}}</div>
    <div>{{error.keyword}}</div>
    <div>{{error.dataPath}}</div>
    <div>{{error.schemaPath}}</div>
    <div class="errors">
      <pre>{{error.params|json}}</pre>
    </div>
  </div>
</div>
