.content-form {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  background-color: #c8c8c8;
}
.console {
  padding: 1rem;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
  color: white;
  font-size: 16px;
}
.title_terminal {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
}

.html-class-form {
  border: 2px solid red;
}
.field-html-class-form {
  border: 2px solid blue;
}
.label-html-class-form {
  border: 2px solid rgb(0, 255, 0);
}
