<footer id="footer">
  <!-- Copyright -->
  <div class="text-center p-2">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/hamzahamidi/ajsf" target="_blank">hamzahamidi/ajsf</a>
    <a class="text-reset fw-bold" href="https://hamidihamza.com/ajsf/?set=asf&example=asf-hack-conditional-required&framework=bootstrap-3&language=es">Ejemplos</a>
    <a class="text-reset fw-bold" href="https://github.com/json-schema-form/angular-schema-form/blob/master/docs/index.md#form-definitions">Definicion del formulario</a>
  </div>
  <!-- Copyright -->
</footer>
