<mat-tab-group [color]="'primary'" [backgroundColor]="'accent'">
  <mat-tab label="Esquema Simple">
    <app-schema-inputs></app-schema-inputs>
  </mat-tab>
  <mat-tab label="Esquema Simple con data">
    <app-schema-inputs-data></app-schema-inputs-data>
  </mat-tab>
  <mat-tab label="Basic">
    <app-basic-data-only-mode></app-basic-data-only-mode>
  </mat-tab>
  <mat-tab label="Esquema de seleccion">
    <app-schema-choices></app-schema-choices>
  </mat-tab>
  <mat-tab label="Esquema Anidado">
    <app-schema-multipple></app-schema-multipple>
  </mat-tab>
  <mat-tab label="Esquema referenciado">
    <app-schema-ref></app-schema-ref>
  </mat-tab>
</mat-tab-group>
