:host::ng-deep {
  mat-form-field.html-class-form {
    background-color: #e9e8e8;
    margin: 0.5rem 0;
  }
  mat-form-field.html-class-form .mat-form-field-label {
    color: black !important;
  }
  mat-form-field.html-class-form  mat-hint {
    color: black !important;
  }
}
